snippet prelude "Prelude math expressions" b
\usepackage{amsmath}
\usepackage{amssymb}
\def\Complex{\mathbb{C}}
\def\Scalar{\mathbb{F}}
\newcommand\Span[1]{\mathrm{Span}\left\{#1\right\}}
\newcommand\bmat[1]{\begin{bmatrix} #1 \end{bmatrix}}
\newcommand\dmat[1]{\left|\begin{matrix} #1 \end{matrix}\right|}
\newcommand{\qed}{\hfill\ensuremath{\square}}
endsnippet
